.product_table .product_row .product_input {
  border: 1px solid #292929;
  border-radius: 5px;
  width: 40px;
  padding: 0px 5px;
  font-size: 11px;
}
.product_table .product_row .product_name {
  width: 120px;
}
.product_table .product_row .product_sector {
  width: 80px;
}
.product_table .product_row .product_detail {
  display: inline-block;
}
.product_table .product_row .product_add_confirm {
  display: inline-block;
  cursor: pointer;
}
