.product_table{
  .product_row{
    .product_input{
      border: 1px solid rgb(41,41,41);
      border-radius: 5px;
      width: 40px;
      padding: 0px 5px;
      font-size: 11px;
    }
    .product_name{
      width: 120px;
    }
    .product_detail{
      display: inline-block;
    }
    .product_add_confirm{
      display: inline-block;
      cursor: pointer;
    }
  }
}