html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
  vertical-align: top;
  background: transparent;
  font-weight: normal;
  line-height: 1.5em;
}
.menu_container {
  display: none;
}
.menu_container a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  border-left: 1px solid grb(40, 40, 40);
}
.navbar {
  margin-bottom: 0px;
}
.stndrt_bnt {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
}
.stndrt_bnt:hover {
  border: 1px solid #282828;
  box-shadow: 0 2px 8px 0 rgba(40, 40, 40, 0.3);
}
.left {
  display: inline-block;
  float: left;
}
.right {
  display: inline-block;
  float: right;
}
.clr {
  clear: both;
}
.country_icon,
.city_icon {
  position: relative;
  top: -7px;
}
.fa-angle-right {
  margin: 5px;
}
.CountryID,
.CityID {
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
}
.HeaderSelectBox {
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  background: #ffffff;
  padding: 3px;
  border: 1px solid gray;
  border-radius: 5px;
}
.HeaderSelectBox .HeaderSelectItem {
  cursor: pointer;
}
.HeaderSelectBox .HeaderSelectItem:hover {
  color: #9cc218;
}
.country_info_item {
  display: inline-block;
  padding: 4px 6px;
}
.country_btn {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
}
.add_btn {
  display: inline-block;
  cursor: pointer;
}
.add_btn .fa-plus {
  color: #9cc218;
}
.add_btn .hidden-title {
  display: none;
  color: #9cc218;
}
.add_btn .fa-stack {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
}
.add_btn .fa-stack:active {
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
}
.select_box {
  display: inline-block;
  position: absolute;
  background: #ffffff;
}
.select_box .select_panel {
  position: relative;
}
.select_box .select_panel .select_close {
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  border: 2px solid #2e6da4;
  border-radius: 50%;
  padding-bottom: 5px;
  background: #ffffff;
  transform: rotate(45deg);
  cursor: pointer;
}
.select_box .select_container {
  display: inline-block;
  border: 1px solid #2e6da4;
  border-radius: 3px;
  padding-right: 2px;
  box-shadow: 0px 2px 8px 0px #2e6da4;
  height: 200px;
  overflow: scroll;
}
.select_box .item_wrap {
  width: 135px;
}
.select_box .item_name {
  padding: 2px 3px;
  width: 50px;
}
.select_box .item_condition {
  padding: 2px 3px;
  width: 65px;
}
.select_box .select_box_add_button {
  border: 1px solid #3c763d;
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
  font-weight: 900;
  margin-top: 3px;
  margin-right: 3px;
  padding: 0px 2px 2px 2px;
  border-radius: 5px;
  color: #3c763d;
  cursor: pointer;
}
.select_box .select_box_add_button:hover {
  background: #3c763d;
  color: #ffffff;
}
.select_container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.select_container::-webkit-scrollbar-button {
  background-color: rgba(46, 109, 164, 0.7);
}
.select_container::-webkit-scrollbar-track {
  background-color: rgba(46, 109, 164, 0.7);
}
.select_container::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
.select_container::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #2e6da4;
  border-radius: 3px;
}
.select_container::-webkit-scrollbar-corner {
  background-color: rgba(46, 109, 164, 0.5);
}
.select_container::-webkit-resizer {
  background-color: rgba(46, 109, 164, 0.7);
}
