input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
input:focus {
  outline: none;
}
.left {
  display: inline-block;
  float: left;
}
.right {
  display: inline-block;
  float: right;
}
.country_icon,
.city_icon {
  position: relative;
  top: -7px;
}
.fa-angle-right {
  margin: 5px;
}
.CountryID,
.CityID {
  margin: 0 5px;
  display: inline-block;
}
