input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
input:focus {
  outline: none;
}
.left {
  display: inline-block;
  float: left;
}
.right {
  display: inline-block;
  float: right;
}
