.calendar {
  width: 120px;
  height: 30px;
  border: 1px solid darkgrey;
  cursor: pointer;
}
.calendar div {
  float: left;
  text-align: center;
  height: 100%;
}
.calendar #day {
  width: 20%;
  border-right: 1px solid darkgrey;
}
.calendar #month {
  width: 20%;
  border-right: 1px solid darkgrey;
}
.calendar #year {
  width: 40%;
  border-right: 1px solid darkgrey;
}
.calendar #nextDay {
  width: 20%;
}
.tab-pane {
  position: relative;
  width: 600px;
  min-height: 400px;
  background: #e1e1e1;
}
.human {
  float: left;
  margin: 5px;
  font-size: 8px;
  border-radius: 2px;
  text-align: center;
}
.human .badge {
  font-size: 8px;
  background: #9cc218;
}
.gameMenuButton {
  width: 100%;
  margin: auto;
}
.gameMenuButton button {
  width: 50%;
  margin-left: 25%;
  padding: 7px 20px 7px 20px;
  background: white;
  color: #1f648b;
  text-align: center;
}
.companyLibBox {
  width: 100%;
  padding-left: 5%;
  display: none;
}
.companyLibBox .companyLibId {
  width: 5%;
  display: inline-block;
}
.companyLibBox .companyLibName {
  width: 35%;
  display: inline-block;
}
.companyLibBox .companyLibWorkplace {
  width: 20%;
  display: inline-block;
}
.companyLibBox .companyLibSector {
  width: 25%;
  display: inline-block;
}
.setCompanyLib {
  cursor: pointer;
  border-radius: 10px;
  background: greenyellow;
  padding: 7px 20px;
  display: inline-block;
}
.delete {
  display: inline-block;
  background: red;
  color: black;
  border-radius: 50%;
  padding: 1px 9px;
  cursor: pointer;
}
.edit {
  display: inline-block;
  background: green;
  color: black;
  border-radius: 50%;
  padding: 1px 9px;
  cursor: pointer;
}
.confirm {
  display: inline-block;
  background: green;
  color: black;
  border-radius: 50%;
  padding: 1px 9px;
  cursor: pointer;
}
