.calendar {
  width: 120px;
  height: 30px;
  border: 1px solid darkgrey;
  cursor: pointer;
}
.calendar div {
  float: left;
  text-align: center;
  height: 100%;
}
.calendar #day {
  width: 20%;
  border-right: 1px solid darkgrey;
}
.calendar #month {
  width: 20%;
  border-right: 1px solid darkgrey;
}
.calendar #year {
  width: 40%;
  border-right: 1px solid darkgrey;
}
.calendar #nextDay {
  width: 20%;
}
.tab-pane {
  position: relative;
  width: 100%;
  min-height: 400px;
  background: #e1e1e1;
}
.human {
  float: left;
  margin: 5px;
  font-size: 8px;
  border-radius: 2px;
  text-align: center;
}
.human .badge {
  font-size: 8px;
  background: #9cc218;
}
.gameMenuButton {
  width: 100%;
  margin: auto;
}
.gameMenuButton button {
  width: 50%;
  margin-left: 25%;
  padding: 7px 20px 7px 20px;
  background: white;
  color: #1f648b;
  text-align: center;
}
.companyLibRow {
  width: 100%;
  padding-left: 5%;
}
.companyLibRow .companyLibName {
  width: 30%;
  display: inline-block;
}
.companyLibRow .companyLibWorkplace {
  width: 20%;
  display: inline-block;
}
.companyLibRow .companyLibSector {
  width: 15%;
  display: inline-block;
}
.companyLibRow .btn-block {
  width: 10%;
  display: inline-block;
}
.setCompanyLib {
  cursor: pointer;
  border-radius: 10px;
  background: greenyellow;
  padding: 7px 20px;
  display: inline-block;
}
.delete {
  display: inline-block;
  background: url('/public/image/player/060.png');
  width: 20px;
  height: 20px;
  background-size: cover;
  -webkit-filter: hue-rotate(50deg);
  filter: hue-rotate(50deg);
  cursor: pointer;
}
.edit {
  display: inline-block;
  background: url('/public/image/work/023.png');
  width: 20px;
  height: 20px;
  background-size: cover;
  cursor: pointer;
}
.confirm {
  display: inline-block;
  background: url('/public/image/player/059.png');
  width: 20px;
  height: 20px;
  background-size: cover;
  cursor: pointer;
}
