.calendar {
  width: 120px;
  height: 30px;
  border: 1px solid darkgrey;
  cursor: pointer;
}
.calendar div {
  float: left;
  text-align: center;
  height: 100%;
}
.calendar #day {
  width: 20%;
  border-right: 1px solid darkgrey;
}
.calendar #month {
  width: 20%;
  border-right: 1px solid darkgrey;
}
.calendar #year {
  width: 40%;
  border-right: 1px solid darkgrey;
}
.calendar #nextDay {
  width: 20%;
}
