.create_country{
  display: inline-block;
  cursor: pointer;
  .fa-plus{
    color: rgb(156, 194, 24);
  }
  .hidden-title{
    display: none;
    color: rgb(156, 194, 24);
  }
  .fa-stack{
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .fa-stack:active{
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
}
.form-wrap{
  position: relative;
  .form-info{
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    padding: 5px 10px;
  }
  .form-title{
    position: absolute;
    top:0;
    right: 0;
    padding: 6px 10px;
    border: 1px solid grey;
    border-radius:  0 10px 10px 0;
    background: rgb(255,255,255);
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    cursor: pointer;
  }
}